<h1>All posts</h1>
<% @posts.each do |p| %>
  <div>
    <h2><%= link_to(p.title, p) %></h2>
    <p>
      <%= p.content %><br>
    <p>
    <% if logged_in? %>
      <p>by <%= p.user.name %><p>
    <% end %>
    <p>--------------------</p>
  </div>
<% end %>
<%= will_paginate %>
